/* Communicate with DVL via uart */
&uart5 {
    pinctrl-0 = <&uart5_tx_pb9 &uart5_rx_pb8>;
    pinctrl-names = "default";
    current-speed = <115200>;
    status = "okay";
};

/* Communicate with pressure sensor via i2c */
&i2c1 {
    status = "disabled";
};

&i2c2 {
    pinctrl-0 = <&i2c2_scl_pb10 &i2c2_sda_pb11>;
    pinctrl-names = "default";
    status = "okay";
    clock-frequency = <I2C_BITRATE_STANDARD>;
    ms5837@76 {
        compatible = "meas,ms5837";
        reg = <0x76>;
    };
};

/* Communicate with servos via PWM */
&pwm1 {
    status = "okay";
};

&pwm2 {
    status = "okay";
};

&pwm3 {
    status = "okay";
};

/* Communicate with thrusters via CAN */
/*
can1 already enabled, alias zephyr,canbus = &can1;

&can1 {
    pinctrl-0 = <&can1_rx_pd0 &can1_tx_pd1>;
    pinctrl-names = "default";
    bus-speed = <125000>;
    status = "okay";
};
*/