#include <zephyr/dt-bindings/adc/adc.h>

/ {
    aliases {
        ahrsuart = &uart1;
    };

    /* Grabber and shooter servos are ser-110x model */
    /* dropper_servo: dropper_servo {
        compatible = "pwm-servo";
        pwms = <&pwm 12 PWM_MSEC(20) PWM_POLARITY_NORMAL>;
        min-pulse = <PWM_USEC(850)>;
        max-pulse = <PWM_USEC(2100)>; // This sus value works
    }; */

    /* The grabber servo is the ser-120x model */
    /* grabber_servo: grabber_servo {
        compatible = "pwm-servo";
        pwms = <&pwm 10 PWM_MSEC(20) PWM_POLARITY_NORMAL>;
        min-pulse = <PWM_USEC(800)>;
        max-pulse = <PWM_USEC(2100)>;
    }; */

    /* shooter_servo: shooter_servo {
        compatible = "pwm-servo";
        pwms = <&pwm 11 PWM_MSEC(20) PWM_POLARITY_NORMAL>;
        min-pulse = <PWM_USEC(850)>;
        max-pulse = <PWM_USEC(2250)>;
    }; */

    buttons {
        compatible = "gpio-keys";
        killswitch_button: killswitch_button {
            /* physical pin 34 / GP28 */
            gpios = <&gpio0 28 GPIO_ACTIVE_HIGH>;
            label = "Killswitch modeled as a button";
        };
    };
    thrusters {
        compatible = "pwm-leds";
        thruster0: thruster0 {            /* pin 7  -> GP5 -> ch5 (slice 2B) */
            pwms = <&pwm 5 PWM_MSEC(20) PWM_POLARITY_NORMAL>;
        };
        thruster1: thruster1 {            /* pin 6  -> GP4 -> ch4 (slice 2A) */
            pwms = <&pwm 4 PWM_MSEC(20) PWM_POLARITY_NORMAL>;
        };
        thruster2: thruster2 {            /* pin 5  -> GP3 -> ch3 (slice 1B) */
            pwms = <&pwm 3 PWM_MSEC(20) PWM_POLARITY_NORMAL>;
        };
        thruster3: thruster3 {            /* pin 4  -> GP2 -> ch2 (slice 1A) */
            pwms = <&pwm 2 PWM_MSEC(20) PWM_POLARITY_NORMAL>;
        };
        thruster4: thruster4 {            /* pin 10 -> GP7 -> ch7 (slice 3B) */
            pwms = <&pwm 7 PWM_MSEC(20) PWM_POLARITY_NORMAL>;
        };
        thruster5: thruster5 {            /* pin 1  -> GP0 -> ch0 (slice 0A) */
            pwms = <&pwm 0 PWM_MSEC(20) PWM_POLARITY_NORMAL>;
        };
        thruster6: thruster6 {            /* pin 2  -> GP1 -> ch1 (slice 0B) */
            pwms = <&pwm 1 PWM_MSEC(20) PWM_POLARITY_NORMAL>;
        };
        thruster7: thruster7 {            /* pin 9  -> GP6 -> ch6 (slice 3A) */
            pwms = <&pwm 6 PWM_MSEC(20) PWM_POLARITY_NORMAL>;
        };
    };
    chosen {
        zephyr,console = &cdc_acm_uart0;
    };
};
&zephyr_udc0 {
    cdc_acm_uart0: cdc_acm_uart0 {
        compatible = "zephyr,cdc-acm-uart";
    };
};
&pwm {
    status = "okay";
    divider-frac-0 = <15>;
    divider-int-0 = <255>;
    divider-frac-1 = <15>;
    divider-int-1 = <255>;
    divider-frac-2 = <15>;
    divider-int-2 = <255>;
    divider-frac-3 = <15>;
    divider-int-3 = <255>;
    divider-frac-4 = <15>;
    divider-int-4 = <255>;
    divider-frac-5 = <15>;
    divider-int-5 = <255>;
    divider-frac-6 = <15>;
    divider-int-6 = <255>;
    divider-frac-7 = <15>;
    divider-int-7 = <255>;
};
&adc {
    status = "okay";
    pinctrl-0 = <&adc_default>;
    pinctrl-names = "default";
    #address-cells = <1>;
    #size-cells = <0>;
    /* physical pin 31 -> GP26 -> ADC channel 0 */
    pressure: channel@0 {
        reg = <0>;
        zephyr,gain = "ADC_GAIN_1";
        zephyr,reference = "ADC_REF_INTERNAL";
        zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
        zephyr,resolution = <12>;
    };
};
&pinctrl {
    uart1_default: uart1_default {
        group1 {
            pinmux = <UART1_TX_P8>;
        };
        group2 {
            pinmux = <UART1_RX_P9>;
            input-enable;
        };
    };
    adc_default: adc_default {
        group1 {
            pinmux = <ADC_CH0_P26>;
        };
    };
};
&pwm_ch4b_default {
    group1 {
        /* all eight thruster pins GP0..GP7 must be muxed to PWM */
        pinmux = <PWM_0A_P0 PWM_0B_P1 PWM_1A_P2 PWM_1B_P3
                  PWM_2A_P4 PWM_2B_P5 PWM_3A_P6 PWM_3B_P7>;
    };
};
&uart1 {
    current-speed = <115200>;
    status = "okay";
    pinctrl-0 = <&uart1_default>;
    pinctrl-names = "default";
};
